body {
    background: #6784cc;
    font-size: 18px;
    font-family: Palatino, "URW Palladio Larial", "monospace", sans-serif;
    max-width: 500px;
    margin: auto;
}

a {
    color: #fefefe;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    color: #fefefe;
    text-decoration: none;
}


header {
    padding: 35px 0px 35px 0px;
    color: #fff;
    font-size: 25px;
}

h1 {
    font-weight: bold;
}

h5 {
    font-weight: bold;
    text-align: center;
}

footer {
    margin: 20px 0 0px 0;
    /* position: fixed; */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(103,132,204,1) 49%, rgba(103,132,204,1) 100%); */
    text-align: center;
}