body {
    background: #6784cc;
    font-size: 18px;
    font-family: Palatino, "URW Palladio Larial", "monospace", sans-serif;
    /* max-width: 900px; */
    margin: auto;
}

.card {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.card-body button {
    position: absolute;
    bottom: 5px; 
  }

.form-control, .form-label, .btn-primary {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    color: #fefefe;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    color: #fefefe;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 0px 35px 0px;
    color: #fff;
    font-size: 25px;
}

h1 {
    font-weight: bold;
}

h5 {
    font-weight: bold;
    text-align: center;
}

footer {
    margin: 20px 0 0px 0;
    /* position: fixed; */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(103,132,204,1) 49%, rgba(103,132,204,1) 100%); */
    text-align: center;
}